
@{
    ViewData["Title"] = "Page d'accueil du tournoi de tennis";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="display-4">Bienvenue sur notre site de tournoi de tennis!</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <p class="lead">Notre site est dédié aux tournois de tennis et à la communauté de joueurs de tennis. Découvrez les dernières actualités du monde du tennis, 
                consultez le calendrier des tournois à venir et inscrivez-vous pour participer à des tournois passionnants.</p>
            <p class="lead">N'attendez plus pour rejoindre notre communauté de passionnés de tennis. Consultez les pages "Players" et "Matchs" pour en savoir plus!</p>
            <div class="row">
                <div class="col-md-6">
                    <a href="players" class="btn btn-block btn-outline-primary btn-lg animated-button thar-three">Joueurs</a>
                </div>
                <div class="col-md-6">
                    <a href="matches" class="btn btn-block btn-outline-primary btn-lg animated-button thar-four">Matchs</a>
                </div>
            </div>
        </div>
    </div>
</div>